@{
    ViewData["Title"] = "Contact";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes.</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-4.jpg" width="100%" />
        </div>
        <div class="col-xs-12 col-md-8">
            <p>We'd love to hear from you! Our work would be impossible without the support of local businesses who offer valuable employment opportunities to our residents. Our business and organizational partners also provide volunteers, supply much-needed hot meals, make donations in kind and offer vital financial support. If you’re interested in partnering with the Renewal Center.</p>
            <address>
                The Renewal Center<br />
                340 S Lemon Ave #3340<br />
                Walnut CA 91789
            </address>

            <address>
                <strong>Phone:</strong> 425.555.0100
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:info@renewal.org.cn">info@renewal.org.cn</a>
            </address>
        </div>
    </div>
</div>
