@{
    ViewData["Title"] = "Home";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes.</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-1.jpg" width="100%" />
            <p>Your gift can help men like Tang Yanhe survive the winter in Shanghai.</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <h1>A hot, wholesome meal for a homeless person</h1>
            <p>December temperatures in Shanghai average 8°C, with lows below freezing – so living rough can be life-threatening. Your gift today can save a life, providing food and warmth – and helping a man or woman find the employment that will help them afford a permanent home.</p>
            <p><span class="bg-info">[option 1]</span> <a asp-controller="News" asp-action="Campaign">Read Tang's story...</a></p>
            <p><span class="bg-info">[option 2]</span> <a asp-controller="News" asp-action="Letter">Read a letter from the director...</a></p>
            <p><span class="bg-info">[option 3]</span> <a asp-controller="News" asp-action="Index">Read our newsletter...</a></p>
            <a asp-controller="Donate" asp-action="Index" class="btn btn-primary">Donate now</a>
            <h3>More ways to make a difference at the Center:</h3>
            <h4>Connect with us</h4>
            <p>Follow us on your favorite social media accounts and sign up for our email communications.</p>
            <p>[WeChat] [Facebook] [Twitter] [Instagram]</p>
            <p>Sign up for our email communications:</p>
            <p>
                Name: <input id="exampleName" type="text" /><br />
                Email: <input id="exampleEmail" type="text" />
            </p>
            <p><a asp-controller="Donate" asp-action="Index" class="btn btn-primary">Sign up</a></p>
            <h4>Visit</h4>
            <p>One a month, we welcome supporters and partners to visit the Renewal Center. Please let us know if you’d like to visit, drop off a financial donation or gift in kind or learn more about how you can volunteer. Please <a asp-controller="Home" asp-action="Contact">contact us</a> for more details and to arrange a visit.</p>
            <h4>Volunteer</h4>
            <p>Do you have free time during the day, in the evenings or on weekends when you could contribute your valuable time and skills towards our work at the Renewal Center? We have several volunteering opportunities we’d love to discuss with you. Please <a asp-controller="Home" asp-action="Contact">contact us</a> to learn more about our volunteer programs at the Center.</p>
            <h4>Give a gift in kind</h4>
            <p>We appreciate gifts of tangible items that help us more effectively reach the displaced people of Shanghai. Items like clothing and household items are especially helpful, but we’ll consider taking almost anything you can give. Please <a asp-controller="Home" asp-action="Contact">contact us</a> to let us know how you can help today.</p>
            <h4>Partner with us</h4>
            <p>Our work would be impossible without the support of local businesses who offer valuable employment opportunities to our residents. Our business and organizational partners also provide volunteers, supply much-needed hot meals, make donations in kind and offer vital financial support. If you’re interested in partnering with the Renewal Center, please <a asp-controller="Home" asp-action="Contact">contact us</a>, and we’d be happy to talk to you!</p>
        </div>
    </div>
</div>
