@{
    ViewData["Title"] = "Program";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>Renewal helps displaced people find employment, stability and a permanent home...</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-3.jpg" width="100%" />
            <p>Wang Xiao found a job, a home, and new life through Renewal.</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <p>People come to the city seeking wealth... opportunity... freedom... or an escape. Sadly, many find the city offers no support network and no way out. Concerned for those trapped in poverty, a small group opened Renewal in a city-center storefront in 2008, and we invite you to join us today in reaching people who are friendless, desperate and displaced.</p>
            <p>People come to Renewal looking for basic support, friendship and warmth. Many find that and more, including employment, independence and renewed confidence. With a full-time staff of just four people, Renewal relies on support from partners to offer people essential help on the road to full-time work.</p>
            <p>Renewal can become a temporary home to those committed to finding a good job. Those who do settle into employment get help finding a home they can call their own, and support gaining the resources they need to pursue their dreams. We can even help people renew broken relationships with family, and tailor all of our support to what they tell us they need.</p>
        </div>
    </div>
</div>