@{
    ViewData["Title"] = "Home";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes.</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-5.jpg" width="100%" />
            <p>Xu Guangsheng trained for a good job at Renewal.</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <h1>Thank you!</h1>
            <p>We've received your gift. We appreciate you.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to the home page</a>

        </div>
    </div>
</div>
