@{
    ViewData["Title"] = "Home";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes.</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-1.jpg" width="100%" />
            <p>Your gift can help men like Tang Yanhe survive the winter in Shanghai.</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <h1>A hot, wholesome meal for a homeless person</h1>   
            <h3>Your support is providing a warm bed and training for the one woman on our program who is blazing a trail for others.</h3>
            
            <p>Si Junying is already a valuable, hard worker. Dishwashing duty is among the most demanding jobs in our Fresh Start café – but Si Junying not only works tirelessly over the sinks, she actually seems to enjoy it. She passes the hours singing quietly and politely ensuring that the interns working with her are keeping the dishes, glasses, pots and pans spotlessly clean.</p>
            <p>Doing dishes is not Si Junying’s only job. The 38-year-old from the nearby province of Zhejiang says her favorite thing to do is help others. She says, “On days we have activities upstairs, I help our homeless guests with our services.” She finds it especially rewarding when she sees how your gifts “help people help themselves.”</p>
            <p>Your support can help more women join our program now. It’s a crucial goal this year because street life for women is so much harder than it is for men. If you see a man on the street, you know times are hard for him. If you see a woman out there, you know she is in serious trouble. She has fewer options and suffers more abuse.</p>
            <p>That’s just one more reason why we’re hoping Si Junying will help us pave the way for more women to join our program. No matter what problems women face, Si Junying offers hope, saying, “Everybody has dreams.” She says she wants to work for herself someday, and she can do it with your support.</p>
            <p>Si Junying is prepared to help other women along the way. “We need more women,“ she says. “The more the better!” It will happen as we keep working together, and through your continued kind support. Si Junying puts it simply when she says, “I love it when I see everyone together at the Center!”</p>

            <a asp-controller="Donate" asp-action="Index" class="btn btn-primary">Donate now</a>
        </div>
    </div>
</div>
