@{
    ViewData["Title"] = "Home";
}

<div class="page-header" id="banner">
    <h2>Renewal</h2>
    <h4>The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes.</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <img src="~/images/slide-1.jpg" width="100%" />
            <p>Your gift can help men like Tang Yanhe survive the winter in Shanghai.</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <h1>A hot, wholesome meal for a homeless person</h1>
            <p>Dear friends,</p>
            <p>Looking across my desk just now, I can see men like Tang Yan He walking into the Renewal Center, looking for help. This has suddenly made me think about how many more will arrive during the coming cold winter months, seeking a hot meal and warm shelter.</p>
            <p>So I’m writing you to ask for your help, in advance. Before winter sets in.</p>
            <p>As the Center’s founder, it’s my responsibility – through your generosity – to try to meet the needs of everyone who comes through those doors. Both men and women rely on us for showers, warm winter clothes, a friendly welcome and help finding a good job. Not to mention a good, hot meal and a comfortable bed.</p>
            <p>Your gift now would save the life of someone like Tang Yan He this winter, and probably change his life forever. “I have no connection with home,” he says. “I miss them very much but I dare not go back.” He is 60 years old and from Tianjin.</p>
            <p>For some legal issue, he was thrown in jail for three years. When he was released, his wife wanted a divorce. “I went to drinking alcohol when I miss my family,” he says. “I lost almost all my teeth and drank all day.”</p>
            <p>This was very humiliating for him. “I was a neat person in Tianjin.” So his time at the Renewal Center, he says, “helps me to have dignity again.” And find friends. At other places, yes, he could get bread and noodles, “but you always go back to the same point.”</p>
            <p>Now that he’s here, he has hope for the future. And as others pour in needing help, I need to be able to cover our heating bill. To help the team cook and serve enough hot food to feed everyone who comes to us. We try never to turn people away.</p>
            <p>Whether you give online now, or would like us to bring by our point of sale, I hope you will please help the Renewal  Center reach more and more men – and women – like Tang Yan He during the freezing cold winter months in Shanghai. I and they will thank you.</p>
            <p><img src="~/images/signature-jimmy.gif" width="25%" /></p>
            <a asp-controller="Donate" asp-action="Index" class="btn btn-primary">Donate now</a>
        </div>
    </div>
</div>
